<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Application</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">Hello! This is the portfolio of a very witty person.</p>
      <hr class="my-4" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti
        impedit magni animi, beatae voluptatibus fugit, ea sit neque similique
        in totam non, numquam deserunt placeat assumenda soluta. Molestias,
        quibusdam?
      </p>
      <% if (user){ %>
      <a class="btn btn-primary btn-lg" href="/admin/add">Add Project</a>
      <a class="btn btn-primary btn-lg" href="/">Home Page</a>
      <a class="btn btn-primary btn-lg" href="/users/logout">Logout</a>
      <h5 class="text-right">Username: <span class="badge badge-secondary"><%= user.name %></span></h5>
      <% } else { %>
      <a class="btn btn-primary btn-lg" href="/users/register">Register Page</a>
      <a class="btn btn-primary btn-lg" href="/users/login">Login Page</a>
      <% } %>
    </div>
  </body>
</html>
